html, body, .container {
    height: 100%;
}

body {
    background-color: #000;
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.playing {
    color: white;
    background-color: green;
}

.list-group-item {
    cursor: pointer;
}
